.footer {
    padding-top: 200px;
    position: relative;
    overflow: hidden;
}

.footerBg {
    background: linear-gradient(183deg, var(--bgColor) 0%, var(--Tcolor) 100%);
    display: flex;
    padding-top: 118px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
}

.healthCare {
    display: inline-block;
}

.footerLogo {
    display: flex;
    align-items: center;
}

.healthCareTitle {
    color: white; 
    font-size: 24px; 
    font-family: "Muli-Regular", Helvetica; 
    font-weight: 700; 
    word-wrap: break-word;
}

.healthCareLogo {
    color: var(--Tcolor);
    font-size: 26px;
    font-weight: 700;
    word-wrap: break-word;
    background: white;
    border-radius: 100%;
    padding-top: 5px;
    padding-left: 12px;
    padding-bottom: 5px;
    padding-right: 12px;
    margin-right: 12px;
}

.healthCareInfo {
    color: white;
     font-size: 18px; 
     font-family: "Muli-Regular", Helvetica; 
     font-weight: 300; 
     line-height: 28px; 
     word-wrap: break-word;
     padding-top: 20px;
     width: 360px;
}

.healthCareInfo2 {
    color: white;
     font-size: 18px; 
     font-family: "Muli-Regular", Helvetica; 
     font-weight: 300; 
     word-wrap: break-word;
     padding-top: 31px;
     width: 360px;
}

.footerInfo {
    display: flex;
}

.footerText {
    margin-left: 150px;
}

.footerInfoTitle {
    color: white; 
    font-size: 20px; 
    font-family: "Muli-Regular", Helvetica; 
    font-weight: 700; 
    line-height: 60px; 
    word-wrap: break-word;
}

.footerInfoText {
    color: white; 
    font-size: 18px; 
    font-family: "Muli-Regular", Helvetica; 
    font-weight: 300; 
    line-height: 38px; 
    word-wrap: break-word;
}

.footerBg .footerElement1 {
    position: absolute;
    left: -20px;
    margin-top: 340px;
}

.footer .footerElement2 {
    position: absolute;
    right: 3%;
    margin-top: -70px;
}