.reviewBlock {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.review {
    background: linear-gradient(215deg, var(--bgColor) 0%, var(--Tcolor) 100%); 
    border-radius: 24px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 266px;
    position: relative;
    z-index: 1;
}

.review .reviewImage {
    position: absolute;
    margin-top: 10px;
    margin-left: 42%;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
}

.reviewSlider {
    margin-left: 5.5%;
    margin-right: 5.5%;
}

.reviewBlock .reviewImage2 {
    position: absolute;
    margin-left: -38%;
    margin-top: -14%;
}

  