.header {
    display: flex;
    margin-top: 5%;
    align-items: center;
    float: left;
}

.headerText {
    display: inline-block;
    width: 50%;
    margin-left: 10%;
}

.virtualHealthcare {
    color: black; 
    font-size: 48px; 
    font-family: "Muli-Regular", Helvetica; 
    font-weight: 700; 
    word-wrap: break-word;
}

.buttonVirtual {
    align-items: center;
    width: 200px; 
    height: 56px;
    border: none;
    background-color: var(--buttonBlue);
    color: white;
    font-size: 18px; 
    font-family: "Muli-Regular", Helvetica; 
    font-weight: 700; 
    word-wrap: break-word;
    border-radius: 30px;
    margin-top: 45px;
}

.buttonVirtual:hover {
    background-color: var(--buttonhover2);
  }

.image {
    width: 50%;
    margin-right: 10%;
}

.header .element1 {
    position: absolute;
    margin-top: -470px;
    float: left;
}